language: rust
rust: stable
env:
  global:
    - RUSTFLAGS="--deny warnings -C link-dead-code"

addons:
  apt:
    packages:
      - libssl-dev

cache:
  directories:
    - /home/travis/.cargo

before_cache:
  - rm -rf /home/travis/.cargo/registry

stages:
  - stylecheck
  - test
  - coverage
  - docs

jobs:
  include:
    - stage: stylecheck
      script:
        - rustup component add rustfmt
        - cargo fmt --all -- --check
    - stage: test
      script:
        - cargo test --release --all-features --no-fail-fast --all
        - cargo test --release --all-features --no-fail-fast --all -- --ignored
    - stage: coverage
      script: |
        cargo install cargo-tarpaulin || true
        cargo tarpaulin -v --ignore-tests --out Xml
        bash <(curl -s https://codecov.io/bash)
    - stage: docs
      if: branch = master
      script: |
        cargo doc &&
        echo "<meta http-equiv=refresh content=0;url=shallow-water/index.html>" > target/doc/index.html &&
        sudo pip install ghp-import &&
        ghp-import -n target/doc &&
        git push -fq https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages

notifications:
  email:
    on_success: never
