[package]
name = "shallow-water"
version = "0.1.0"
authors = ["Ferdia McKeogh <ferdia@mckeogh.tech>"]
edition = "2018"

[profile.release]
lto = "fat"
panic = "abort"
debug = true
overflow-checks = false
codegen-units = 1

[dependencies]
ndarray = { version = "0.13.1", features = ["approx", "rayon", "serde"] }
log = "0.4.8"
clap = "2.33.1"
byteorder = "1.3.4"
serde = { version = "1.0.114", features = ["derive"] }
serde_yaml = "0.8.13"
quit = "1.0.0"
rayon = "1.3.1"
simplelog = "0.8.0"
bincode = "1.3.1"

[dev-dependencies]
insta = "0.16.1"
approx = "0.3.2"
lazy_static = "1.4.0"
criterion = "0.3.3"

[[bench]]
name = "spectral"
harness = false

[[bench]]
name = "sta2dfft"
harness = false

[[bench]]
name = "stafft"
harness = false

[[bench]]
name = "setup"
harness = false

[[bench]]
name = "nhswps"
harness = false
